<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
</head>
<body>
    <%=JSON.stringify(bookingDetails)%>

    <form action="/api/orders/initiate-cancel/<%=orderId%>" method="post">
        <button type="submit" style="background-color: blue;">
            Cancel Order 
        </button>
    </form>
</body>
</html>