<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights Search Results</title>
</head>

<body>

    <div class="create-order">
        <h4>
            <a href="/api/orders/createOrder/<%=offer_request_id%>" target="_blank">Click to book your flight!</a>
            Note: Make sure you note down the ids of the offers that you want to book.
        </h4>
    </div>

    <%flightsSearchResults.map(result=> {%>

        <div class="flightsResults">
            <p>
                <b><%=result.id%></b>
            </p>
            <p>
                <b><%=(result.payment_requirements.requires_instant_payment === true) ? "Requires instant payment" : "Instant payment not compulsory"%></b>
            </p>
            <p>
                <%=JSON.stringify(result)%>
            </p>
        </div>

        <%})%>

</body>

</html>